<div>sync
  <a class="sync">
    <span *ngIf="needsLogin()">Login</span>
    <span *ngIf="!needsLogin()">Logout</span>
  </a>
</div>
<div>async
  <a class=async>
    <span *ngIf="needsLoginAsync">Login</span>
    <span *ngIf="!needsLoginAsync">Logout</span>
  </a>
</div>
